{{ $data := index site.Data site.Language.Lang }}
{{ if $data.citations.citations.enable }}
{{ with $data.citations.citations }}
{{"<!-- Citations Section -->" | safeHTML}}
<section class="bg-one about section" id="citations">
	<div class="container">
		<div class="row ">
			<div class="col-xl-12">
				{{"<!-- section title -->" | safeHTML}}
				<div class="title text-center">
					<h2>{{ with .title }} {{ index (split . " ") 0 | safeHTML }} {{ end }}<span class="color">
						{{ with .title }} {{ after (len (index (split . " ") 0)) . | safeHTML }} {{ end }}</span></h2>
					<div class="border-meghna"></div>
				</div>
				{{"<!-- /section title -->" | safeHTML}}
			</div>
		</div>
		<div class="row shuffle-wrapper justify-content-center">
			{{"<!-- portfolio item -->" | safeHTML}}
			{{.citations}}
			{{ range .publications }}
			<div class="col-lg-4 text-center wow fadeInUp" data-wow-duration="500ms">
				<div class="block" style="height: 580px">
					<div class="icon-box">
						<i class="ti-cup"></i>
					</div>
					{{- $result := getJSON (printf "https://doi.org/%s" .doi) (dict "Accept" "application/vnd.citationstyles.csl+json") -}}
					<div class="content text-center">
						<h3>{{- index $result "title" -}}</h3>
						<p class="color">{{range index $result "author"}}
							{{.given}} {{.family}},
					{{end}}
					</p>
					<a href='{{- index $result "URL" -}}' class="stretched-link"></a>
					{{.short}}
					</div>
				</div>
			</div>
			{{ end }}
		</div>
	</div>
</section>
{{"<!-- /Portfolio -->" | safeHTML}}
{{ end }}

{{ end }}